fieldset {
	border-radius: 10px;
	margin-top: 20px;
	border: 3px solid #73AD21;
}

legend {
	font-weight: bold;
	color: #A0522D;
}

#title {
	padding-left:2em;
	color: #A0522D;
}
#county {
	fill: #C0C0C0;
	stroke: #fff;
}

#dots {
	fill: #FF0000;
	stroke: black;
}

#filteredInfo {
	font-size: 1.5em;
}

#filters {
	position: absolute;
	top: 60px;
	left: 1075px;
	width: 355px;
	height: 300px;
	font-size: 1.5em;
}

#map {
	position: relative;
	width: 1000px;
	height: 720px;
	border: 3px solid #73AD21;
	border-radius: 10px;
	font-size: 1.5em;
}

#compareBox legend {
	font-size: 1.5em;

}

#house1 legend {
	font-size: 1.5em;
	color: #0000FF;
}

#house2 legend {
	font-size: 1.5em;
	color: #06DC19;
}

#house3 legend {
	font-size: 1.5em;
	color: #8806DC;
}

#house1 {
	margin-left: 10px;
	margin-right: 150px;
	left: 0px;
	width: 320px;
	height: 460px;
	display: inline-block;
}

#house2 {
	margin-right: 150px;
	left: 500px;
	width: 320px;
	height: 460px;
	display: inline-block;
}

#house3 {
	left: 1075px;
	width: 320px;
	height: 460px;
	display: inline-block;
}

#clearButtons {
	margin-top: 10px
}

#clearHouse1 {
	margin-left: 125px;
	margin-right: 410px;
	display: inline-block;
}

#clearHouse2 {
	margin-right: 410px;
	display: inline-block;
}

#clearHouse3 {
	display: inline-block;
}

#infoBox {
	position: absolute;
	top: 325px;
	left: 1075px;
	width: 320px;
	height: 460px;
	border: 3px solid #73AD21;
	border-radius: 10px;
}

#compareBox {
	position: absolute;
	width: 1385px;
	display: none;
}

#clear {
	width: 49%;
	height: 2em;
}

#submit {
	width: 49%;
	height: 2em;
}

#compareButton {
	width: 49%;
	height: 2em;
}

#clearButton {
	width: 49%;
	height: 2em;
}

#tooltip {
	width: 150px;
	height: auto;
	padding: 5px;
	background-color: #fff;
	color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	position: absolute;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}